# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [8]:
# load json as string
#json.load((open('data/world_bank_projects_less.json')))

In [9]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [10]:
path = "data/world_bank_projects.json"
json_data = json.load((open(path)))

In [11]:
json_data[0]

{'sector': [{'Name': 'Primary education'},
  {'Name': 'Secondary education'},
  {'Name': 'Public administration- Other social services'},
  {'Name': 'Tertiary education'}],
 'supplementprojectflg': 'N',
 'projectfinancialtype': 'IDA',
 'prodline': 'PE',
 'mjtheme': ['Human development'],
 'idacommamt': 130000000,
 'impagency': 'MINISTRY OF EDUCATION',
 'project_name': 'Ethiopia General Education Quality Improvement Project II',
 'mjthemecode': '8,11',
 'closingdate': '2018-07-07T00:00:00Z',
 'totalcommamt': 130000000,
 'id': 'P129828',
 'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
  {'code': 'EX', 'name': 'Education'},
  {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
  {'code': 'EX', 'name': 'Education'}],
 'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
 'sector1': {'Percent': 46, 'Name': 'Primary education'},
 'lendinginstr': 'Investment Project Financing',
 'countrycode': 'ET',
 'sector2': {'Percent': 26, 'Name': 'Secondary education'},
 'totalamt': 130000000,
 'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
  {'code': '11', 'name': ''}],
 'boardapprovaldate': '2013-11-12T00:00:00Z',
 'countryshortname': 'Ethiopia',
 'sector4': {'Percent': 12, 'Name': 'Tertiary education'},
 'prodlinetext': 'IBRD/IDA',
 'productlinetype': 'L',
 'regionname': 'Africa',
 'status': 'Active',
 'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
 'envassesmentcategorycode': 'C',
 'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
 'approvalfy': 1999,
 'projectdocs': [{'DocDate': '28-AUG-2013',
   'EntityID': '090224b081e545fb_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.'},
  {'DocDate': '01-JUL-2013',
   'EntityID': '000442464_20130920111729',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
   'DocType': 'IP',
   'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1'},
  {'DocDate': '22-NOV-2012',
   'EntityID': '090224b0817b19e2_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.'}],
 'lendprojectcost': 550000000,
 'lendinginstrtype': 'IN',
 'theme1': {'Percent': 100, 'Name': 'Education for all'},
 'grantamt': 0,
 'themecode': '65',
 'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
 'sectorcode': 'ET,BS,ES,EP',
 'sector3': {'Percent': 16,
  'Name': 'Public administration- Other social services'},
 'majorsector_percent': [{'Percent': 46, 'Name': 'Education'},
  {'Percent': 26, 'Name': 'Education'},
  {'Percent': 16, 'Name': 'Public Administration, Law, and Justice'},
  {'Percent': 12, 'Name': 'Education'}],
 'board_approval_month': 'November',
 'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
 'countryname': 'Federal Democratic Republic of Ethiopia',
 'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en',
 'source': 'IBRD',
 'projectstatusdisplay': 'Active',
 'ibrdcommamt': 0,
 'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
  {'code': 'ES', 'name': 'Secondary education'},
  {'code': 'BS', 'name': 'Public administration- Other social services'},
  {'code': 'ET', 'name': 'Tertiary education'}],
 '_id': {'$oid': '52b213b38594d8a2be17c780'}}

### 1. Find the 10 countries with most projects
To find the countries with the most projects, the ```json_normalize()``` function was used to normalize the json file that was previously read. Every row in the dataframe represents a project. The "countryname" column was selected from the dataframe and the ```value_counts()``` function was used to count the number of times each country appears in the series.

In [12]:
json_normalize(json_data)["countryname"].value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

To find the top 10 major project themes, the function ```json_normalize()``` was used to create a dataframe from the json file. Since the project themes are found as a value of the "mjtheme_namecode" key in the initial json dictionary, two parameters were passed to the ```json_normalize(json_data,"mjtheme_namecode")``` function. 

By inspecting the head of the dataframe it can be seen that there are missing values in the "name" column. To get an accurate count of the frequency of all the project themes, the data in the "code" column will be used. But first, a dataframe ("code_name") is created to display each code with the corresponding name.

To generate the "code_name" dataframe, a new dataframe was created by dropping all the rows that have an empty value in the "name column". Since a code corresponds to only one name, all the duplicates in the dataframe were dropped using ```drop_duplicates``` function. The type of the "code" column was changed to int by using the function ```pd.to_numeric()``` and the values in the dataframe were sorted by the "code" column.

The function ```.value_counts()``` was used to count all the "codes" in "theme" dataframe. The resulting series was changed into a dataframe and the column was renamed from "codes" to "counts" to better describe the data. A new column "code" was added to the dataframe by taking the index of the dataframe and chainging its type to int. This dataframe contains the correct codes and counts of the project themes, but not the names. 

To create a dataframe that coutains the codes, counts, and names, the "code_counts_df" dataframe was left joined with code_name dataframe. To get the name of the top 10 major project themes, the "names" column of the dataframe and the top 10 rows were selected.

In [13]:
theme = json_normalize(json_data,"mjtheme_namecode")
theme.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [14]:
#Get the name for each code
pd.options.mode.chained_assignment = None  # default='warn'

theme_drop_empty_rows = theme[theme.name != ""]
code_name = theme_drop_empty_rows.drop_duplicates()
code_name = code_name.rename(columns = {u"code":"code"})
code_name["code"] = pd.to_numeric(code_name["code"])
code_name = code_name.sort_values(by='code')
code_name

     code                                          name
2       1                           Economic management
5       2                      Public sector governance
252     3                                   Rule of law
11      4      Financial and private sector development
4       5                         Trade and integration
3       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
0       8                             Human development
53      9                             Urban development
18     10                             Rural development
6      11  Environment and natural resources management

In [15]:
code_counts = theme[u"code"].value_counts()
code_counts_df = code_counts.to_frame().rename(columns = {"code":"counts"})
code_counts_df["code"] = pd.to_numeric(code_counts_df.index)
top_10_themes = pd.merge(code_counts_df,code_name,on = "code").loc[:10,"name"]
top_10_themes.index += 1
top_10_themes

1     Environment and natural resources management
2                                Rural development
3                                Human development
4                         Public sector governance
5            Social protection and risk management
6         Financial and private sector development
7                      Social dev/gender/inclusion
8                            Trade and integration
9                                Urban development
10                             Economic management
11                                     Rule of law
Name: name, dtype: object

### 3. Create a dataframe with the missing names filled in.

The dataframe "code_names" already has the name corresponding to each code. A dictionary was created from this dataframe where each code is the key and the name is the value. This dictionary was used in ```.map()``` function to map all the codes to the names in the "theme" dataframe.

In [16]:
codes = code_name.set_index("code").to_dict()['name']
codes

{1: 'Economic management',
 2: 'Public sector governance',
 3: 'Rule of law',
 4: 'Financial and private sector development',
 5: 'Trade and integration',
 6: 'Social protection and risk management',
 7: 'Social dev/gender/inclusion',
 8: 'Human development',
 9: 'Urban development',
 10: 'Rural development',
 11: 'Environment and natural resources management'}

In [17]:
theme["code"] = pd.to_numeric(theme["code"])
theme.name = theme.code.map(codes)
theme.head()

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration